* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
  color: #1BA4FC;
}

h2 {
  color: #313131;
  font-size: 25px;
}

nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
}

.nav-section {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logoNav {
  width: 10%;
  display: inline;
}

nav .logoNav img {
  width: 130px;
}

nav .burguerMenu {
  visibility: hidden;
  display: none;
}

nav .nav-ul {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-ul li {
  display: inline-block;
}

nav .nav-ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #313131;
  padding: 5px 15px;
}

nav .nav-icons {
  list-style: none;
  padding: 0;
}

nav .nav-icons li {
  display: inline-block;
  background-color: #1BA4FC;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  margin-right: 18px;
}

nav .nav-icons li a {
  font-size: 1.8rem;
  color: #ffffff;
}

.fas {
  font-size: 20px;
  text-align: center;
  padding-top: 7px;
}

nav .nav-icons li:nth-child(2) {
  background-color: #DF1988;
  margin-right: 18px;
}

nav .nav-icons li:nth-child(3) {
  background-color: #F4CC2E;
}

.btn-open-popup {
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  cursor: pointer;
}

.overlay {
  position: fixed;
  margin-top: 80px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15%;
  padding: 20px;
  text-align: center;
  width: 350px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
}

.popup .btn-close-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  color: #BBBBBB;
}

.popup .btn-close-popup :hover {
  color: #000;
}

.popup .my-cart {
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}

.popup.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.hero {
  margin: auto;
  height: 75vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.9))), url("/files/hero-picture.jpeg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url("/files/hero-picture.jpeg");
  background-position: center;
  background-size: cover;
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content h1 {
  margin: 30px;
  text-align: center;
}

.hero .hero-content .btn-hero {
  text-align: center;
  padding: 7px 15px;
  margin: auto;
  background-color: #9E2B87;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
  border-radius: 10px;
  width: 289px;
  height: 42px;
  line-height: 40px;
}

.featuredProducts {
  width: 80%;
  margin: auto;
}

.featuredProducts .section-title {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: #27EAB8 solid 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuredProducts .section-title a {
  text-decoration: none;
  color: #1BA4FC;
  font-weight: bold;
}

.featuredProducts .featured-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.featuredProducts .featured-product .product-container {
  margin: 0 40px;
  position: relative;
  width: 343px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
}

.featuredProducts .featured-product .product-container .category {
  position: absolute;
  right: 10px;
  top: 10px;
}

.featuredProducts .featured-product .product-container .category a {
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  background-color: #27EAB8;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.featuredProducts .featured-product .product-container img {
  width: 313px;
  height: 240px;
}

.featuredProducts .featured-product .product-container .product-info {
  border-top: solid #313131 2px;
  margin: auto;
  padding-top: 5px;
  width: 313px;
}

.featuredProducts .featured-product .product-container .product-info .price-qty p {
  text-align: right;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 100px;
  font-weight: bold;
  background-color: #FCDE60;
  padding: 6px;
  border-radius: 20px;
}

.featuredProducts .featured-product .product-container .product-info .price-qty p i {
  background-color: #F4CC2E;
  color: #ffffff;
  padding: 7px;
  border-radius: 20px;
}

.latestProducts {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.latestProducts .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: #9E2B87 solid 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latestProducts .section-title a {
  text-decoration: none;
  color: #1BA4FC;
  font-weight: bold;
}

.latestProducts .latest-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.latestProducts .latest-product .product-container {
  margin: 0 40px;
  position: relative;
  width: 343px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
}

.latestProducts .latest-product .product-container .category {
  position: absolute;
  right: 10px;
  top: 10px;
}

.latestProducts .latest-product .product-container .category a {
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  background-color: #27EAB8;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.latestProducts .latest-product .product-container img {
  width: 313px;
  height: 240px;
}

.latestProducts .latest-product .product-container .product-info {
  border-top: solid #313131 2px;
  margin: auto;
  padding-top: 5px;
  width: 313px;
}

.latestProducts .latest-product .product-container .product-info .price-qty p {
  text-align: right;
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 100px;
  font-weight: bold;
  background-color: #FCDE60;
  padding: 6px;
  border-radius: 20px;
}

.latestProducts .latest-product .product-container .product-info .price-qty p i {
  background-color: #F4CC2E;
  color: #ffffff;
  padding: 7px;
  border-radius: 20px;
}

footer {
  margin-top: 120px;
  background-color: #FCDE60;
}

footer .ourBrands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .ourBrands h2 {
  padding: 50px 0;
}

footer .ourBrands .carousell-ourBrands {
  height: 30vh;
  width: 100%;
  border: red solid 2px;
}

footer .bottom {
  background-color: #9E2B87;
  margin-top: 100px;
}

footer .bottom .bottom-content {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .bottom-content .column-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

footer .bottom .bottom-content .column-bottom img {
  height: 50px;
  width: 120px;
}

footer .bottom .bottom-content .column-bottom a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
}

footer .bottom .bottom-content .column-bottom p {
  color: #ffffff;
  line-height: 2.5;
}
/*# sourceMappingURL=styles.css.map */