//PALETTE

$-white: #ffffff;
$-purple: #9E2B87;
$-pink: #DF1988;
$-yellow: #FCDE60;
$-yellowDarker: #F4CC2E;
$-gray: #707070;
$-lightGray:#00000029;
$-notBlack: #313131;
$-blue: #1BA4FC;
$-turquoise: #27EAB8;

* {
    margin: 0;
    padding: 0;
}

@mixin width-margin {
    width: 80%;
    margin: auto;
}

@mixin define-button{
    text-align: center;
    padding: 7px 15px;
    margin: auto;
    background-color: $-purple;
    color: $-white; 
    font-size: 1.2rem;
    text-decoration: none;
    // letter-spacing: .4rem;
    display: inline-block;
    animation: drop 1.5s ease;
    box-shadow: 0px 10px 14px -7px #09191b;
    &:active{
        @extend %linkactive;
    }
    &:hover{
        background-color: $-pink;
        @extend %linkhover;
    }    
}

%linkactive{
    top: 1px;
    position: relative; 
} 
%linkhover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow  : 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

html {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}
h1{
    color: #1BA4FC;
}
h2{
    color: $-notBlack;
            font-size: 25px;
}
// NAV BAR
nav {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 100;
  }
      .nav-section{
      width:30%;
      display:flex;
      justify-content:space-between;
    }
    nav .logoNav {
      width: 10%;
      display: inline;
    }
    
    nav .logoNav img {
      width: 130px;
    }
    nav .burguerMenu{
        visibility: hidden;
        display:none;
      }
      nav .nav-ul {
        list-style: none;
        padding: 0;
        width:50%;
        margin:0 !important;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      nav .nav-ul li {
        display: inline-block;
        
      }
   
    
    nav .nav-ul li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #313131;
        padding: 5px 15px;

    }

    nav .nav-icons {
        list-style: none;
        padding: 0;
    }

    nav .nav-icons li {
            display: inline-block;
        background-color: $-blue;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        text-align: center;
        margin-right:18px;
    }

    nav .nav-icons li a {
        font-size: 1.8rem;
        color: $-white;
    }
    .fas{
        font-size:20px;
        text-align:center;
        padding-top:7px;
        }    

        nav .nav-icons li:nth-child(2) {
            background-color: $-pink;
            margin-right:18px;
        }

        nav .nav-icons li:nth-child(3) {
            background-color: $-yellowDarker;
        }

// HERO SECTION

.hero{
    margin: auto;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.9)), url('/files/hero-picture.jpeg');
    background-position: center;
    background-size:cover;

    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            margin: 30px;
            text-align: center;
        }
        .btn-hero{

            text-align: center;
            padding: 7px 15px;
            margin: auto;
            background-color: $-purple;
            color: $-white; 
            font-size: 24px;
            text-decoration: none;
            display: inline-block;
            animation: drop 1.5s ease;
            border-radius: 10px;
            width: 289px;
            height: 42px;
            line-height: 40px;

        }

    }
}

// FEATURED PRODUCTS
.featuredProducts{
    @include width-margin();
    .section-title{
        margin-top: 110px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: $-turquoise solid 5px;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
            color: $-blue;
            font-weight: bold;
        }
 
    }
    .featured-product{
        display: flex;
        justify-content: center;
        margin-top: 100px;

        .product-container{
            margin: 0 40px;
            position: relative;
            width: 343px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.3);
            
            .category{
                position: absolute;
                right: 10px;
                top: 10px;

                a{
                    text-align: center;
                    padding: 5px 10px;
                    margin: auto;
                    background-color: $-turquoise;
                    color: $-white; 
                    font-size: 15px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 5px;


                }
            }
            img{
                width: 313px;
                height: 240px;
            }
            
            .product-info{
                border-top: solid $-notBlack 2px;
                margin: auto;
                padding-top: 5px;
                width: 313px;
                
                .price-qty{
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-between;
                    

                    p{
                        text-align: right;
                        position: absolute;
                        right: 8px;
                        bottom: 8px;
                        width: 100px;
                        font-weight: bold;
                        // border: red solid 2px;

                        background-color: $-yellow;
                        padding: 6px;
                        border-radius: 20px;
                        
                        
                                                
                        i{
                            background-color: $-yellowDarker;
                            color: $-white;
                            padding: 7px;
                            border-radius: 20px;
                        }
                    }
                }
            }
            

        }
    }
}

// LATEST PRODUCTS
.latestProducts{
    @include width-margin();
    margin-top: 150px;
    .section-title{
        display: flex;
        flex-wrap: wrap;
        border-bottom: $-purple solid 5px;
        justify-content: space-between;
        align-items: center;
        
        a{
            text-decoration: none;
            color: $-blue;
            font-weight: bold;
        }
    }
    .latest-product{
        display: flex;
        justify-content: center;
        margin-top: 100px;

        .product-container{
            margin: 0 40px;
            position: relative;
            width: 343px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.3);
            
            .category{
                position: absolute;
                right: 10px;
                top: 10px;

                a{
                    text-align: center;
                    padding: 5px 10px;
                    margin: auto;
                    background-color: $-turquoise;
                    color: $-white; 
                    font-size: 15px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 5px;


                }
            }
            img{
                width: 313px;
                height: 240px;
            }
            
            .product-info{
                border-top: solid $-notBlack 2px;
                margin: auto;
                padding-top: 5px;
                width: 313px;
                
                .price-qty{
                    p{
                        text-align: right;
                        position: absolute;
                        right: 8px;
                        bottom: 8px;
                        width: 100px;
                        font-weight: bold;
                        

                        background-color: $-yellow;
                        padding: 6px;
                        border-radius: 20px;
                        
                        
                                                
                        i{
                            background-color: $-yellowDarker;
                            color: $-white;
                            padding: 7px;
                            border-radius: 20px;
                        }
                    }
                }
            }
            

        }
    }

}

// FOOTER
footer{
    margin-top: 120px;
    background-color: $-yellow;
    
    .ourBrands{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            padding: 50px 0;
        }

        .carousell{
           
            
        }
    }

    .bottom{
        background-color: $-purple;
        margin-top: 100px;
        
        .bottom-content{
            @include width-margin();
            padding: 50px 0;
            display: flex;



            .column-bottom{
                display: flex;
                flex-direction: column;
                width: 25%;
                img{
                    height: 50px;
                    width: 120px;
                }
                a{
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: $-white;
                    padding: 10px 15px;

                }
                p{
                    color: $-white;
                    line-height: 2.5;
                }
            }
        }
    }
}