//PALETTE

$-white: #ffffff;
$-purple: #9E2B87;
$-pink: #DF1988;
$-yellow: #FCDE60;
$-yellowDarker: #F4CC2E;
$-gray: #707070;
$-lightGray:#00000029;
$-notBlack: #313131;
$-blue: #1BA4FC;
$-turquoise: #27EAB8;

* {
    margin: 0;
    padding: 0;
}

@mixin define-button{
    text-align: center;
    padding: 7px 15px;
    margin: auto;
    background-color: $-purple;
    color: $-white; 
    font-size: 1.2rem;
    text-decoration: none;
    // letter-spacing: .4rem;
    display: inline-block;
    animation: drop 1.5s ease;
    box-shadow: 0px 10px 14px -7px #09191b;
    &:active{
        @extend %linkactive;
    }
    &:hover{
        background-color: $--oxfordblue;
        @extend %linkhover;
    }    
}

%linkactive{
    top: 1px;
    position: relative; 
} 
%linkhover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

html {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4{
    font-family: Monserrat, Arial, Helvetica, sans-serif;
    // text-align: center;
}
h1{
    color: #1BA4FC;
}

// NAV BAR
nav{
    background-color: $-white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.3);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;   
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

    .logoNav{
        width: 50px;
        img{
            width: 130px;
        }

    }
   
    
    .nav-ul{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            a{
                font-size: 1.2rem;
                text-decoration: none;
                color: $-notBlack;
                // text-transform: uppercase;
                padding: 5px 15px;
                // &:hover{
                //     @extend %linkhover;
                // }
            }
        }
    }


    .nav-icons{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            background-color: $-blue;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            text-align: center;

            a{
                font-size: 1.8rem;
                color: $-white;
                
            }
        }
        li:nth-child(2){
            background-color: $-pink;
        }
        li:nth-child(3){
            background-color: $-yellowDarker;
        }

    }
}

// HERO SECTION

.hero{
    margin: auto;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.9)), url('/files/hero-picture.jpeg');
    background-position: center;

    .hero-content{
        img{

        }
        h1{
            margin: 30px;
            text-align: center;
        }
    
    
        a{
            @include define-button();
        }

    }
}