
//style
$-white: #ffffff;
$-purple: #9E2B87;
$-pink: #DF1988;
$-yellow: #FCDE60;
$-yellowDarker: #F4CC2E;
$-gray: #707070;
$-lightGray:#00000029;
$-notBlack: #313131;
$-blue: #1BA4FC;
$-turquoise: #27EAB8;
//media queries breakpoint
$breakpoint-desktop:1024px;
$breakpoint-tablet:768px;
$breakpoint-phone:767px;

